{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title%}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}    
        <div id="container">
            <header>
                <a href="/">
                    <img src="logo.png" alt="Logomarca">
                </a>
                <nav>
                    <li><a href="/">Início</a></li>
                    <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
                </nav>
            </header>
            <section id="title">
                <p>em exibição</p>
                <h1>Ideias</h1>
            </section>
            <main id="ideas">
                <section id="ideas">
                    {% include "tmpIdeas.html" %}
                </section>
            </main>
            <footer id="footer">
                Com ❤️ <a href="#">Brn0</a>
            </footer>
        </div>

         <!--Modal-->
         {% include "modal.html" %}
{% endblock %}